{% extends 'base.html' %}
{% load static %}

{% block static_styles %}
<link rel="stylesheet" href="{% static 'blog/post-detail.css' %}" />
{% endblock %}

{% block page_title %}{{ post.title }}{% endblock %}

{% block content %}
{% if comment_form.errors %}
<div id="alert">
    <h2>Saving the comment failed. Please check out your form.</h2>
    <a href="#comment-form">Fix</a>
</div>
{% endif %}
<section id="summary">
    <h2>{{ post.title }}</h2>
    <div>
        {% for tag in tags %}
        <span class="tag">{{ tag.caption }}</span>
        {% endfor %}
        <form id="read-later" action="{% url 'read-later' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ post.id }}" />
            <button>{% if is_read_later %}Remove From Read Later{% else %}Read Later{% endif %}</button>
        </form>
    </div>
    <article>
        <img src="{{ post.image.url }}" alt="{{ post.title }}" />
        <address><a href="mailto:{{ post.author.email }}">By {{ post.author }}</a></address>
        <div>Last updated on
            <time>{{ post.date|date:'d M Y' }}</time>
        </div>
    </article>
</section>
<main>
    <p>{{ post.content|linebreaks }}</p>
</main>
<section id="comments">
    <ul>
        {% for comment in comments %}
        <li>
            <h2>{{ comment.name }}</h2>
            <p>{{ comment.text|linebreaks }}</p>
        </li>
        {% endfor %}
    </ul>
</section>
<section id="comment-form">
    <h2>Your comment</h2>
    <form action="{% url 'post' post.slug %}" method="post">
        {% csrf_token %}
        {% for field in comment_form %}
        <div class="form-control{% if field.errors %} invalid {% endif %}">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <button>Submit Comment</button>
    </form>
</section>
{% endblock %}